<!-- ========== Menu ========== -->
<div class="app-menu">  

    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a href="index.html" class="logo-light">
            <img src="assets/images/11.png" alt="logo" class="logo-lg">
            <img src="assets/images/11.png"  alt="small logo" class="logo-sm">
        </a>

        <!-- Brand Logo Dark -->
        <a href="index.html" class="logo-dark">
            <img src="assets/images/11.png" alt="dark logo" class="logo-lg">
            <img src="assets/images/11.png" alt="small logo" class="logo-sm">
        </a>
    </div>

    <!-- menu-left -->
    <div class="scrollbar">

        <!-- User box -->
       

        <!--- Menu -->
        <ul class="menu">

            

            <li class="menu-item">
                <a href="home"  class="menu-link">
                    <span class="menu-icon"><i data-feather="airplay"></i></span>
                    <span class="menu-text"> Tableau de bord </span>
                    <span class="badge bg-success rounded-pill ms-auto">4</span>
                </a>
              
            </li>


            <li class="menu-item">
                <a href="listeadmin" class="menu-link">
                    <span class="menu-icon"><i data-feather="calendar"></i></span>
                    <span class="menu-text"> administrateur </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="liste-etudiant" class="menu-link">
                    <span class="menu-icon"><i data-feather="message-square"></i></span>
                    <span class="menu-text"> Etudiant </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="liste-cour" class="menu-link">
                    <span class="menu-icon"><i data-feather="message-square"></i></span>
                    <span class="menu-text"> Cour </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/listereservation" class="menu-link">
                    <span class="menu-icon"><i data-feather="shopping-cart"></i></span>
                    <span class="menu-text"> Reservation </span>
                 
                </a>
              
            </li>

            <li class="menu-item">
                <a href="liste-contact" class="menu-link">
                    <span class="menu-icon"><i data-feather="shopping-cart"></i></span>
                    <span class="menu-text"> Contact </span>
                 
                </a>
              
            </li>

         

       


        </ul>
     
    </div>
</div>